.home {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.conteudo-container {

    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 80px;
}

.conteudo-container .texto {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 520px;
}

.conteudo-container h2 {

    width: 558px;
    font-size: 4rem;
    font-weight: 400;
    font-style: italic;
}

.conteudo-container div {

    display: flex;
    justify-content: flex-start;
    width: 900px;
}

.conteudo-container .pizza-menor {
    display: none;
}

.texto-laranja {

    color: var(--cor-primaria);
}

.destaque-container {

    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

/* TABLET */
@media (max-width: 768px) {
    .home {
        /* imagem do canto laranja claro e escuro (retangulo) */
        background-image: url(../img/background-tablet.png);
        background-position: top left;
    }

    /* Texto principal Nao e so uma pizza ... */
    .conteudo-container .texto {
        width: 200px;

    }

    .conteudo-container h2 {
        font-size: 3rem;
    }

    .conteudo-container {
        margin-top: 160px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .conteudo-container .pizza-maior {
        display: none;
    }

    .conteudo-container .pizza-menor {
        display: flex;
    }

    .destaque-container {
        margin-bottom: 60px;
    }

    /* imagens das pizzas (sabores)para deixar em oculto */
    .produto:nth-child(3) {
        display: none;
    }

    .produto:nth-child(4) {
        display: none;
    }

}

/* Mobile */
@media (max-width:480px) {


    .conteudo-container .pizza-menor {
        display: none;

    }

    .conteudo-container h2 {

        font-size: 2rem;

    }

    .conteudo-container {
        margin-top: 150px;
        margin-right: 200px;

        height: 30px;
        width: 200px;
    }

    .produto:nth-child(2) {
        display: none;

    }

    .destaque-container {
        display: flex;
        align-items: center;
        padding: 60px;

    }
}